.login .title{
    font-size: 30px;
    padding: 30px;
}

.login .butt{
    border: solid 2px green;
    border-radius: 15px;
    padding: 10px 25px;
    margin: 30px;
    transition: all 250ms;
    user-select: none;
}

.butt:hover{
    background-color: green;
}

.butts a{
    color: black;
    text-decoration: none;
}